.container{
    width: calc(100% - 30px);
    height: 81px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid #D4D4D4;
    border-bottom: 2px solid #4D4D4D;
}
.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    width:15%;
    height: 40px;
    background: #D2D2D2 0% 0% no-repeat padding-box;
    margin: 2px;
    margin-bottom: 0;
    border:none;
    outline:none;
    text-align: center;
    font-size:12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #3A3A3A;
}

.btnActive{
    width:15%;
    height: 40px;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    margin: 2px;
    margin-bottom: 0;
    border:none;
    outline:none;
    text-align: center;
    font-size:12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
}